.hashtag{
    padding: 15px;
}
.hashtag:hover{
    background-color: #242D3C;
}
.h3{
    margin-left: 5%;
    font-size: 20px;
}
.p {
    margin-left: 5%;
    margin-top: -10px;
    font-size: 14px;
}